/* * {
    outline: 1px solid red;
} */

body {
    background: #eee5e5;
    color: #37392e;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.wrap {
    min-height: 100vh;
    position: relative;
    width: 90%;
}

a {
    color: #28afb0;
    text-decoration: none;
}

main {
    padding-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #19647e;
    font-size: 80px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

form {
    margin-bottom: 5%;
}

.form_input {
    display: flex;
    flex-direction: row;
}

.input_box {
    flex: 1;
}

.text_line {
    background: none;
    border: none;
    border-bottom: 2px solid #37392e;
    font-size: 16px;
    padding: 3% 0;
    width: 70%;
}

.text_line:focus,
.submit:focus {
    outline: none;
}

input::placeholder {
    color: #858a74;
}

.submit {
    background: #28afb0;
    border: none;
    border-radius: 3%;
    color:#FFF;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 4%;
    padding: 10px 25px;
    width: 150px;
}

.madLibText {
    border:1px double #37392e;
    font-size: 16px;
    padding: 15px;
}

.userAnswer {
    color:#19647e;
    font-weight: bold;
}

footer {
    bottom: 0;
    font-size: 18px;
    height: 60px;
    position: absolute;
    width: 100%;
}